@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: lalezar;
    src: url("../fonts/Lalezar.woff");
}
@font-face {
    font-family: neirizi;
    src: url("../fonts/Neirizi.woff");
}

.leading-zyarat{
    line-height: 3;
}