{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="nLWazYCMJ9eZu1XqB0Az1ocrF0pnjcKeUKCgKuej1uA" />
    <meta name="description" content="{% block description %}{%endblock%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/output.css" %}">
    {% block extra_head %}
    {% endblock %}
    <title>{% block title %}{% endblock %} </title>
</head>
<body>
{% include 'header.html' %}
{%  block main %}

{% block reviews %}
{% endblock %}
{% endblock %}
<footer class="py-4 bg-{{ color }}-200 font-lale text-center">
نوشته شده توسط علی شرکت
</footer>
{% block extra_footer_script %}

{% endblock %}
<script src="{% static "js/flowbite.min.js" %}"></script>

</body>
</html>
